APP_NAME=SipreCochabamba
APP_ENV=production
APP_DEBUG=false
APP_URL=https://tu-dominio.com
FRONTEND_URL=https://tu-dominio.com

DB_CONNECTION=pgsql
DB_HOST=IP_O_HOST_POSTGRES_EXTERNO
DB_PORT=5432
DB_DATABASE=sipre
DB_USERNAME=usuario
DB_PASSWORD=password
DB_SSLMODE=prefer

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
RUN_STARTUP_MIGRATIONS=false

VITE_API_URL=/api
VITE_STORAGE_BASE_URL=
VITE_GIS_BASE_URL=
